body{
    background-color: #333333 !important;
    font-family: "JetBrains Mono", monospace !important;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* index.html + */

/* NAVBAR */
#flashdeckTitleNav{
    font-size: 32px;
    color: #FFFFFF;
}
#navbarToggler{
    border-color: #A4E3FF !important;
}
#navbarToggler:focus{
    outline: none;
    box-shadow: none;
}
#navDropdown a{
    color: white;
}
#navDropdown a:hover{
    background-color: black;
    color: #A4E3FF;
}
.nav-item{
    font-size: 20px;
}

.nav-link.active:hover{
    color: #A4E3FF !important;
}
/* HEADER */
#flashdeckTitleHeader{
    font-size: 100px;
    color: #FFFFFF;
}
#subHeader{
    font-family: "JetBrains Mono", monospace !important;
    font-size: 21px;
    font-weight: 100;
    color: #FFFFFF;
    max-width: 300px;
}
/* BUTTONS */
.btn{
    background-color: #A4E3FF !important;
    width: 232;
    height: 64;
    font-size: 24px !important;
    border-radius: 4px !important;
}
.btn:hover{
    background-color: #88bfd6 !important;
}
/* FOOTER */
#footer{
    position: relative;
    bottom: 0;
    margin-top: auto;


    background-color: #303030 !important;
}
#footerHeader{
    font-size: 21px;
}
#footerLoremIpsum{
    font-size: 12px;
    color: #666565;
    line-height: 5px;
}
#footerLogos{

}
#footerLegal{
    font-size: 12px;
    color: #666565;
}


/* signIn.html */

/* form labels */
.form-group label{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
/* form input fields */
.form-group input{
    border: 3px solid #A4E3FF;
    background-color: transparent;
    width: 350px;
    height: 60px;
    color: white;
}
.form-group input:focus{
    background-color: transparent;
    color: white;
}
.form-group input::placeholder{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.192);
}
form a{
    display: inline;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 20px;
    text-decoration: none;
    font-weight: 700;
}
form a:hover{
    color: #cacaca;
}

/* myDecks.html */

/* Filter Button */
#filterButton{
    font-size: 21px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    transition: color 0.3s ease;
}
#filterButton:hover{
    color: #A4E3FF;
}

.studyButton, .editDeckButton, .deleteDeckButton{
    width: 200px !important;
}

.deleteDeckButton:hover{
    background-color: red !important;
}
/* create deck button */
#createDeckButton{
    font-size: 21px !important;
    border: 3px solid #A4E3FF;
    background-color: transparent !important;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}
#createDeckButton:hover{
    background-color: #A4E3FF !important;
}
/* Cards */


.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}
.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    max-height: 50px;
}
.card{
    background-color: #A4E3FF !important;
    border: 6px solid black !important;
    border-radius: 12px !important;
    width: 325px;
    height: 200px;
    max-height: 200px;
    max-width: 325px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.modal-content{
    border: 3px solid #A4E3FF !important;
    background-color: #333333 !important;
    border-radius: 22px !important;
}

.deckNameInput{
    border: 3px solid #A4E3FF;
    border-radius: 22px;
    height: 50px;
    background: transparent;
    padding: 10px;
    resize: none;
    color: white;
}


.deckDescInput{
    height: 300px !important;
    border: 3px solid #A4E3FF;
    border-radius: 22px;
    height: 50px;
    background: transparent;
    padding: 10px;
    resize: none;
    color: white;
}

.deckNameInput:focus, .deckDescInput:focus{
    outline: none;
}

.closeModalButton, .saveModalButton{
    width: 200px !important;
}

/* create-deck.html */

/* deck info */
#deckNameField{
    width: 25rem;
}
#deckNameField:focus{
    outline: none;
    box-shadow: none;
}
#deckDescField{
    width: 25rem;
    height: 20rem;
    outline: none;
    box-shadow: none;
    padding-top: 0px;
}
#deckDescField::placeholder{
    
}

/* save deck button */
#saveDeckButton{
    width: 200px;
    height: 50px;
    font-size: 26px !important;
    white-space: nowrap;
}

/* card info */
#cardInfoCol{
    border: 5px solid #A4E3FF;
    border-radius: 22px;
}



#mainContainer{
    border: 6px solid #A4E3FF;
    border-radius: 22px;
}
.cardHeader{
    color: white;
}
.frontOfCard, .backOfCard{
    
    width: 500px;
    height: 700px;
}
.cardInput{
    width: 500px;
    height: 650px;
    border: 6px solid #A4E3FF;
    border-radius: 22px;
    font-size: 30px;
    background: transparent;
    padding: 20px;
    color: white;
    resize: none;
}
.cardInput:focus{
    outline: none;
}
#uploadAudio, #uploadImage{
    width: 25px;
    height: 25px;
    margin: 5px 5px;
}
.cardPreviewContainer{
    border: 3px solid #A4E3FF;
    border-radius: 7px;
}
.addCardButton{
    border: 5px solid #A4E3FF;
    border-radius: 22px;
    background-color: transparent;
    color: white;
    font-size: 48px;
    padding: 3px 10px;
    transition: background-color 0.3s;
}
.addCardButton:hover{
    background-color: #a4e3ff;
}
.imagePreview{
    width: 100px;
    height: 100px;
    border: 2px solid #a4e3ff;
    border-radius: 8px;
}
.playAudioIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.previewTextInput{
    width: 300px;
    height: 50px;
    resize: none;
}
.editCardIcon, .deleteCardIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* account.html */

#accountInfoCol{
    border: 5px solid #A4E3FF;
    border-radius: 25px;
}

#pfp{
    width: 10rem;
    border-radius: 100px; 
}

#changePasswordButton{
    background-color: #A4E3FF;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 156px;
    height: 40px;
    color: black;
    font-weight: 500;
    padding: 5px 5px;
}

#deleteAccountButton{
    background-color: black;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 156px;
    color: white;
    font-weight: 500;
    height: 40px;
    padding: 5px 5px;
}

#accountStatsCol{
    border: 5px solid #A4E3FF;
    border-radius: 25px;
}


